# HUB
HUB_PORT=1883
DYNSEC_ADMIN_USER=admin
DYNSEC_ADMIN_PASS=change-this-password

# VAULT
PGDATABASE=vault_db
PGUSER=vault_dbuser
PGPASSWORD=change-this-password
PGPORT=5432

# GATEWAY
GATEWAY_PORT=8080

# INGESTOR
INGESTORUSER=ingestor
INGESTORPASS=change-this-password